* {
    margin: 0px;
    color: cyan;
    font-family: "Lilita One", sans-serif;
}

body {
    background-color: #00000C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reappear {
    display: none;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
